/*body*/
/*http://www.colourlovers.com/palette/4332545/Lest_Petals_Spill - kolory do css*/
body {
	background-color: #CED5AB;
}
h1, h2, h3, h4 {
	color: #492C4A;
}
/*header*/
/*nav*/
/*section*/
/*footer*/